<mat-label>Color 1</mat-label>
<mat-form-field>
  <select matNativeControl required [(ngModel)]="color1">
    <option value="Negro">Negro</option>
    <option value="Café">Café</option>
    <option value="Rojo">Rojo</option>
    <option value="Naranja">Naranja</option>
    <option value="Amarillo">Amarillo</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Morado">Morado</option>
    <option value="Gris">Gris</option>
    <option value="Blanco">Blanco</option>
  </select>
</mat-form-field>

<mat-label>Color 2</mat-label>
<mat-form-field>
  <select matNativeControl required [(ngModel)]="color2">
    <option value="Negro">Negro</option>
    <option value="Café">Café</option>
    <option value="Rojo">Rojo</option>
    <option value="Naranja">Naranja</option>
    <option value="Amarillo">Amarillo</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Morado">Morado</option>
    <option value="Gris">Gris</option>
    <option value="Blanco">Blanco</option>
  </select>
</mat-form-field>

<mat-label>Color 3</mat-label>
<mat-form-field>
  <select matNativeControl required [(ngModel)]="color3">
    <option value="Negro">Negro</option>
    <option value="Café">Café</option>
    <option value="Rojo">Rojo</option>
    <option value="Naranja">Naranja</option>
    <option value="Amarillo">Amarillo</option>
    <option value="Verde">Verde</option>
    <option value="Azul">Azul</option>
    <option value="Morado">Morado</option>
    <option value="Gris">Gris</option>
    <option value="Blanco">Blanco</option>
  </select>
</mat-form-field>

<br>

<mat-radio-group aria-label="Select an option" [(ngModel)]="rb">
  <mat-radio-button value="1">Dorado</mat-radio-button>
  <mat-radio-button value="2">Plata</mat-radio-button>
</mat-radio-group>

<div class="mb-3">
    <button class="btn btn-primary" (click)="calcular()" mat-raised-button>Calcular</button>
</div>
<div class="col-4">
    <h3>El resultado es: {{resultado}}</h3>
</div>